<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="word-spacing:normal;background-color:#afafaf">
        <div style="background-color:#afafaf">
            <div style="background:#5e1f89;background-color:#5e1f89;margin:0px auto;max-width:600px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                    style="background:#5e1f89;background-color:#5e1f89;width:100%">
                    <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:0px;text-align:center">
                                <div class="m_3360098509049304992mj-column-per-100"
                                    style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:15px">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        role="presentation" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    style="font-size:0px;padding:0px;word-break:break-word">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        role="presentation"
                                                                        style="border-collapse:collapse;border-spacing:0px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="width:50px"><img
                                                                                        height="auto"
                                                                                        src="./public/LOGO.png"
                                                                                        style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px"
                                                                                        width="250" class="CToWUd a6T"
                                                                                        data-bit="iit" tabindex="0">
                                                                                    <div class="a6S" dir="ltr"
                                                                                        style="opacity: 0.01; left: 563.667px; top: 35px;">
                                                                                        <div id=":ph"
                                                                                            class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                                            role="button" tabindex="0"
                                                                                            aria-label="Download attachment "
                                                                                            jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc2Mjg1NDkxMzY0MTg1MTI1MCIsbnVsbCxbXV0."
                                                                                            data-tooltip-class="a1V"
                                                                                            data-tooltip="Download">
                                                                                            <div class="akn">
                                                                                                <div
                                                                                                    class="aSK J-J5-Ji aYr">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                    style="background:#ffffff;background-color:#ffffff;width:100%">
                    <tbody>
                        <tr>
                            <td
                                style="direction:ltr;font-size:0px;padding:0px;padding-bottom:20px;padding-top:20px;text-align:center">
                                <div class="m_3360098509049304992mj-column-per-60"
                                    style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:0px">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        role="presentation" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    style="font-size:0px;padding:0px;padding-top:10px;padding-right:25px;padding-bottom:10px;padding-left:25px;word-break:break-word">
                                                                    <div
                                                                        style="font-family:Ubuntu,Helvetica,Arial,sans-serif,Helvetica,Arial,sans-serif;font-size:15px;line-height:1;text-align:left;color:#000000">
                                                                        Dear User,<br><br>Enter the below OTP for email
                                                                        validation</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="font-size:0px;padding:15px 30px;padding-top:30px;padding-right:25px;padding-bottom:10px;padding-left:25px;word-break:break-word">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        role="presentation"
                                                                        style="border-collapse:separate;line-height:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" bgcolor="white"
                                                                                    role="presentation"
                                                                                    style="border:1px solid #8626c3;border-radius:3px;background:white"
                                                                                    valign="middle">
                                                                                    <p
                                                                                        style="display:inline-block;background:white;color:black;font-family:Ubuntu,Helvetica,Arial,sans-serif,Helvetica,Arial,sans-serif;font-size:15px;font-weight:bold;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;border-radius:3px">
                                                                                        <span>908896</span></p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="m_3360098509049304992mj-column-per-40"
                                    style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:0px">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        role="presentation" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    style="font-size:0px;padding:0px;padding-top:10px;padding-right:25px;padding-bottom:10px;padding-left:25px;word-break:break-word">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        role="presentation"
                                                                        style="border-collapse:collapse;border-spacing:0px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="width:190px"><img
                                                                                        alt="Sailing" height="auto"
                                                                                        src="https://ci4.googleusercontent.com/proxy/HUKa_p29_JS5kt8z94weGDNvREzHIrjJgKavdyb1tj355gLsY4625OI435LWK1TxGu1LVJgrhPI6hzRr-gLOI3nyjAw2dyuAJ7yvIuJe9hYKhtiMCn0M0VVYC8t7LVAtxvK0xK_ORrdI8mlfutY_VKNsA3FoGP7Tl32W8uCg-1ntgosF-ZLUDzTy8g=s0-d-e1-ft#https://surveys.infosysapps.com/services/fileserver/api/downloadFile/gjs/AcgFWp-b4d661d8-a304-422f-9d20-9596de6e6741.png"
                                                                                        style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px"
                                                                                        width="190" class="CToWUd a6T"
                                                                                        data-bit="iit" tabindex="0">
                                                                                    <div class="a6S" dir="ltr"
                                                                                        style="opacity: 0.01; left: 873.667px; top: 258.562px;">
                                                                                        <div id=":pi"
                                                                                            class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                                            role="button" tabindex="0"
                                                                                            aria-label="Download attachment "
                                                                                            jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWY6MTc2Mjg1NDkxMzY0MTg1MTI1MCIsbnVsbCxbXV0."
                                                                                            data-tooltip-class="a1V"
                                                                                            data-tooltip="Download">
                                                                                            <div class="akn">
                                                                                                <div
                                                                                                    class="aSK J-J5-Ji aYr">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                    style="background:#ffffff;background-color:#ffffff;width:100%">
                    <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:0px;padding-bottom:20px;text-align:center">
                                <div class="m_3360098509049304992mj-column-per-100"
                                    style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:0px">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        role="presentation" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    style="font-size:0px;padding:10px 25px;word-break:break-word">
                                                                    <div
                                                                        style="font-family:Ubuntu,Helvetica,Arial,sans-serif,Helvetica,Arial,sans-serif;font-size:15px;line-height:1.2;text-align:left;color:#000000">
                                                                        <strong>Here's what happens next:</strong> Enter
                                                                        this OTP on the verifiation page <br><br><strong>Not initiated by
                                                                            you?</strong> Do not share the OTP with
                                                                        anyone, Delete the email, inform us at <a
                                                                            href="mailto:surveys@infosys.com"
                                                                            style="color:#8626c3"
                                                                            target="_blank">surveys@infosys.com</a><br><br>Do
                                                                        not share this OTP with
                                                                        anyone.<br><br>Regards,<br><strong>Pheonix trek Team</strong></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin:0px auto;max-width:600px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                    <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:0px;text-align:center">
                                <div class="m_3360098509049304992mj-column-per-100"
                                    style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:5px">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        role="presentation" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left"
                                                                    style="font-size:0px;padding:0px;word-break:break-word">
                                                                    <div
                                                                        style="font-family:Ubuntu,Helvetica,Arial,sans-serif,Helvetica,Arial,sans-serif;font-size:12px;font-style:italic;line-height:1.4;text-align:left;color:#000000">
                                                                        This is an automated email. Responses to this
                                                                        email are not monitored. If you have any
                                                                        concern, please contact us at: <a
                                                                            href="https://surveys.infosysapps.com"
                                                                            target="_blank"
                                                                            data-saferedirecturl="https://www.google.com/url?q=https://surveys.infosysapps.com&amp;source=gmail&amp;ust=1681275858113000&amp;usg=AOvVaw00PrGaJ4bzQ0jYUINUnEk9">https://surveys.infosysapps.<wbr>com</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left"
                                                                    style="font-size:0px;padding:0px;word-break:break-word">
                                                                    <div
                                                                        style="font-family:Ubuntu,Helvetica,Arial,sans-serif,Helvetica,Arial,sans-serif;font-size:12px;font-style:italic;line-height:1.4;text-align:left;color:#000000">
                                                                        The email has been sent to <a
                                                                            href="http://gokulrajesh2022@gmail.com"
                                                                            target="_blank"
                                                                            data-saferedirecturl="https://www.google.com/url?q=http://gokulrajesh2022@gmail.com&amp;source=gmail&amp;ust=1681275858114000&amp;usg=AOvVaw2tB1Sjsm3V1BObk_2LyxUa">gokulrajesh2022@gmail.com</a>,
                                                                        as a request for mail verification. If you are
                                                                        receving this on a different email, this has
                                                                        been forwarded, please ignore the email.</div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>